@import url(fonts.css);
@import url(normalize.css);
@import url(grid.css);

:root {
  --section-bg-color: #fff; /* WHITE */
  --app-bg-color: #fff; /* WHITE */
  --shadow-color: rgba(19, 182, 255, 0.24); /* SKY BLUE  */
  --text-color: #333; /* Dark Gray */
}

/*

  APP STYLES
  ==========================================================================

*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1.6rem; /* 16px */
  line-height: 1.6;
}